{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead">

        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">


        <body>

            <table>
                <tr>
                    <th scope="row">SUPERVIVENCIA</th>

                </tr>

                <tr>
                    <td>Hembra</td>
                    <td>97.5%</td>
                    <td>97.2%</td>
                    <td>96.8%</td>
                    <td>96.5%</td>
                    <td>96.1%</td>
                    <td>95.8%</td>
                    <td>95.4%</td>
                    <td>95.1%</td>
                    <td>94.7%</td>
                </tr>

                <tr>
                    <td>Macho joven</td>
                    <td>97.5% </td>
                    <td>97.2% </td>
                    <td>96.8% </td>
                    <td>96.5% </td>
                    <td>96.1% </td>
                    <td>95.8% </td>
                    <td>95.4% </td>
                    <td>95.1% </td>
                    <td>94.7% </td>
                </tr>

                <tr>
                    <td>Macho viejo</td>
                    <td>95.0% </td>
                    <td>94.7% </td>
                    <td>94.3% </td>
                    <td>94.0% </td>
                    <td>93.6% </td>
                    <td>93.3% </td>
                    <td>92.9% </td>
                    <td>92.6% </td>
                    <td>92.2% </td>
                </tr>

                <tr>
                    <th scope="row">pesos/ave</th>
                    <td>-</td>
                    <td><strong>$ 23.77 </strong></td>>
                    <td><strong>$ 21.39 </strong></td>
                    <td><strong>$ 19.02 </strong></td>
                    <td><strong>$ 16.63 </strong></td>
                    <td><strong>$ 14.26 </strong></td>
                    <td><strong>$ 11.89 </strong></td>
                    <td><strong>$  9.51 </strong></td>
                    <td><strong>$  7.13 </strong></td>
                </tr>
            </table>

        </body>

        </html>

    </p>
    <hr class="my-4">


</div>

{% endblock %}