{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead">

        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">


        <body>

            <table>
                <tr>
                    <th scope="row"></th>
                    <th scope="row">ip hembra- -</th>
                    <th scope="row">ip macho joven- -</th>
                    <th scope="row">ip macho viejo- -</th>
                    <th scope="row">pesos/ave</th>

                </tr>

                <tr>
                    <td>sobresaliente</td>
                    <td>88.7</td>
                    <td>99.8</td>
                    <td>106.6</td>
                    <td><strong>$ 110.0</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>87.7 </td>
                    <td>98.8 </td>
                    <td>105.6 </td>
                    <td><strong>$ 106.5</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>86.7 </td>
                    <td>97.8 </td>
                    <td>104.6 </td>
                    <td><strong>$ 104.5</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>85.7 </td>
                    <td>96.8 </td>
                    <td>103.6 </td>
                    <td><strong>$  99.5</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>84.7 </td>
                    <td>95.8 </td>
                    <td>102.6 </td>
                    <td><strong>$  96.5</strong> </td>
                </tr>

                <tr>
                    <td>Excelente</td>
                    <td>83.7 </td>
                    <td>94.8 </td>
                    <td>101.6 </td>
                    <td><strong>$  92.5</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>82.7 </td>
                    <td>93.8 </td>
                    <td>100.6 </td>
                    <td><strong>$  89.5</strong> </td>
                </tr>

                <tr>
                    <td></td>
                    <td>81.7 </td>
                    <td>92.8 </td>
                    <td>99.6 </td>
                    <td><strong>$  85.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>80.7 </td>
                    <td>91.8 </td>
                    <td>98.6 </td>
                    <td><strong>$  82.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>79.7 </td>
                    <td>90.8 </td>
                    <td>97.6 </td>
                    <td><strong>$  78.5</strong> </td>
                </tr>
                <tr>
                    <td>Bueno</td>
                    <td>78.7 </td>
                    <td>89.8 </td>
                    <td>96.6 </td>
                    <td><strong>$  75.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>78.2 </td>
                    <td>89.3 </td>
                    <td>96.1 </td>
                    <td><strong>$  69.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>77.7 </td>
                    <td>88.8 </td>
                    <td>95.6 </td>
                    <td><strong>$  63.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>77.2 </td>
                    <td>88.2 </td>
                    <td>95.1 </td>
                    <td><strong>$  57.5</strong> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>76.6 </td>
                    <td>87.7 </td>
                    <td>94.6 </td>
                    <td><strong>$  51.5</strong> </td>
                </tr>
            </table>

        </body>

        </html>

    </p>
    <hr class="my-4">


</div>

{% endblock %}