{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">DESCRIPCIÓN</h1>
    <p class="lead">ESTA ES UNA APLICACIÓN WEB CREADA EN EL ENTORNO FLASK PARA
        LA CLASE DE ANALISIS DE ALGORITMOS
        <h1>PROPOSITO: tener un archivo web de las tablas de bonificacion de los galponeros de distraves
            devido a que en muchas ocaciones los impresos se pierden o nunca son entregados a los galponeros.
        </h1>
        <h1>CREADOR: DIEGO FABIAN LANDINEZ GALVAN</h1>
        <h1>OCUPACIÓN: ESTUDIANTE </h1>
        <h1>CARRERA: INGENIERIA DE SISTEMAS </h1>
        <h1>INSTITUCIÓN: UNIVERSIDAD AUTONOMA DE BUCARAMANGA </h1>
        <h1>VERSION DE LA PAGINA: 1.5 </h1>
        <h1>FECHA DE CREACIÓN: 25/03/2019 </h1>
    </p>
    <hr class="my-4">
    

   
</div>
{% endblock %}